<!DOCTYPE html>
<html>
  <head>
    <title>Ralix - TodoMVC</title>
    <link href="/favicon.ico" rel="shortcut icon">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag '/stylesheets/app.css' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <footer class="info">
      <p>Double-click to edit a todo</p>
      <p>Built with <a href="https://github.com/ralixjs/ralix">Ralix</a></p>
      <p>Created by <a href="https://github.com/ralixjs">Ralix Team</a></p>
    </footer>
  </body>
</html>
